<h1>Profiles</h1>
<div>
<a href="/profiles/edit"><button>Create New Profile</button></a>
</div>
<div>
  <!-- method="POST" -->
  <form class="search" action="/profiles">
    <input type="text" placeholder="Search" name="search">
    <button type="submit"><i class="search">Search</i></button>
  </form>

<ul>
  <% for (let i = 0; i < profiles.length; i++ ) {%>
  <li>
    <a href="/profiles/<%= profiles[i].id %>"><%= profiles[i].name %></a> | 
    <a href="/profiles/<%= profiles[i].id %>/delete"><button>Delete</button></a>
  </li>
  <% } %>
</ul>
</div>
